<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Update New Rule</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/ruleName/update/{id}(id=${ruleName.id})}" th:object="${ruleName}" method="post" class="form-horizontal" style="width: 100%">
			<!--
			TODO: Create a form to edit the values of RuleName, there are 2 buttons: Update data and Cancel to the RuleName
			 -->
			<div class="form-group">
				<label for="name" class="col-form-label">Name</label>
				<div class="col-md-8">
					<input type="text" class="form-control" id="moddysRating" placeholder="ModdysRating"
						   th:fields="*{name}">
					<p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
				</div>
			</div>

			<div class="form-group">
				<label for="description" class="col-form-label">Description</label>
				<div class="col-md-8">
					<input type="text" class="form-control" id="description" placeholder="Description"
						   th:fields="*{description}">
					<p class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
				</div>
			</div>

			<div class="form-group">
				<label for="json" class="col-form-label">json</label>
				<div class="col-md-8">
					<input type="text" class="form-control" id="json" placeholder="json"
						   th:fields="*{json}">
					<p class="text-danger" th:if="${#fields.hasErrors('json')}" th:errors="*{json}"></p>
				</div>
			</div>

			<div class="form-group">
				<label for="template" class="col-form-label">template</label>
				<div class="col-md-8">
					<input type="text" class="form-control" id="order" placeholder="template"
						   th:fields="*{template}">
					<p class="text-danger" th:if="${#fields.hasErrors('template')}" th:errors="*{template}"></p>
				</div>
			</div>

			<div class="form-group">
				<label for="sqlStr" class="col-form-label">sqlStr</label>
				<div class="col-md-8">
					<input type="text" class="form-control" id="sqlStr" placeholder="sql"
						   th:fields="*{sqlStr}">
					<p class="text-danger" th:if="${#fields.hasErrors('sqlsqlStrSte')}" th:errors="*{sqlStr}"></p>
				</div>
			</div>

			<div class="form-group">
				<label for="sqlPart" class="col-form-label">sql</label>
				<div class="col-md-8">
					<input type="text" class="form-control" id="sqlPart" placeholder="sqlPart"
						   th:fields="*{sqlPart}">
					<p class="text-danger" th:if="${#fields.hasErrors('sqlPart')}" th:errors="*{sqlPart}"></p>
				</div>
			</div>

			<!-- Buttons action -->
			<div class="form-group">
				<div class="col-md-8">
					<input type="hidden" th:field="*{id}">
					<a class="btn btn-danger" href="/ruleName/list/">Cancel</a>
					<input class="btn btn-primary" type="submit" value="Add ruleName">
				</div>
			</div>

		</form>
	</div>

</div>
</body>
</html>